body {
color: #ffffff;
background-color: #0F0800;

a {
color: #FF0000;

a:hover, a.map-entry-title:hover {
color: #FFFF00;

div.box-1, div.list-entry-1 {
background-color: #3B2000;

div.box-2, div.list-entry-2 {
background-color: #251500;

table table.default th, table.default th {
background-color: #7A3B00;

table table.default td, table.default td {
background-color: #3B2000;

table.asm-navigation td {
background-color: #5C3300;

table.input td, table.output td {
background-color: #4A3B2A;

table.input th, table.output th {
background-color: #6B5A44;

span.register, td.register {
color: #FFFF00;

td.asm-label, td.address-1, td.address-2 {
color: #00ffff;

td.bytes {
color: #00FF00;

td.instruction {
color: #FFFF00;

td.comment-1 {
background-color: #1A0C00;

table.map th {
background-color: #7A3B00;

table.map td {
background-color: #251500;

td.map-c-desc {
color: #00FFFF;

td.map-b-desc, td.map-w-desc {
color: #FFFF00;

td.map-g-desc {
color: #00FF00;

td.map-t-desc {
color: #C0C0C0;

div.map-entry-title-11, div.map-entry-desc, td.map-s-desc, td.map-u-desc {
color: #ffffff;